fastapi[standard] ~= 0.115.5
fastapi-users[sqlalchemy] ~= 14.0.0
sqlmodel ~= 0.0.22
fastapi-users-db-sqlmodel ~= 0.3.0
pydantic-extra-types ~= 2.10.0
pycountry ~= 24.6.1
devtools ~= 0.12.2
rdflib ~= 7.1.1
aiosqlite ~= 0.20.0
isbnlib ~= 3.10.14
babelfish ~= 0.6.1
pydantic~=2.10.2
SQLAlchemy~=2.0.36
httpx~=0.28.0
pillow~=11.0.0
pydantic-settings~=2.6.1
python-dotenv~=1.0.1
random_header_generator~=1.2