<!-- Card -->
<div class="flex flex-col gap-6 bg-base-200 rounded-box p-6 max-w-xl">
    <!-- Header -->
    <div class="flex justify-between items-center">
        <span class="text-sm">{{ book.publication_year }}</span>

        <a class="btn btn-sm btn-primary">Roman</a>
    </div>

    <!-- Body -->
    <div class="flex flex-col gap-2">
        <a class="text-xl font-bold link">
            {{ book.title }}
        </a>

        <span>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
{#            Tempora expedita dicta totam aspernatur doloremque.#}
        </span>
    </div>

            <!-- Stars -->
        <div class="flex gap-2 text-accent">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
        </div>

    <!-- Footer -->
    <div class="flex justify-between items-center">

        <a class="btn btn-ghost p-0">
            <img alt="Profile" src="{{ url_for('static', path='/images/avatar.png') }}"
                 class="w-8 rounded-full"/>

            {{ book.author }}
        </a>
    </div>
</div>