{% extends "base2.html" %}
{% block title %}Index{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block content %}


    <div class="hero  mx-auto bg-[url('/static/images/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg')] bg-center ">
        <div class="hero-overlay bg-opacity-60 "></div>
        <div class="hero-content ">
            <div class="max-w-full">

                <h1 class="mb-5 text-neutral-content text-center text-5xl font-bold"> Nos livres du moment</h1>

{#                <p class="mb-5 text-neutral-content">#}
{#                    Coup de coeur et nouveautées.#}
{#                </p>#}
                <!-- Slider main container -->
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        {% for book in carousell_books %}
                            <div class="swiper-slide ">
                                {% include "book_card.jinja" %}
                            </div>
                        {% endfor %}
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <!-- If we need scrollbar -->
                    {#  <div class="swiper-scrollbar"></div>#}
                </div>
            </div>
        </div>
    </div>

{#    <style>#}
{#        .swiper {#}
{#            width: 1200px;#}
{#            height: 500px;#}
{#        }#}
{##}
{##}
{##}
{#    </style>#}
    <script>
        var swiper = new Swiper('.swiper', {
            {#autoplay: {#}
            {#    delay: 4000,#}
            {#    disableOnInteraction: true,#}
            {#},#}


            // Optional parameters
            slidesPerView: 4,
            spaceBetween: 30,
            loop: true,

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },


        });
    </script>

    <div class="flex justify-center my-10 max-w-7xl mx-auto">
        <div class="flex flex-col items-center text-center gap-6 w-full">
            <h1 class="font-bold text-3xl">
                Actualités
                <span class="text-primary">récentes</span>
            </h1>
{#            <span>#}
{#                App Name is an open-source application that leverages your bussiness and help you build#}
{#                amazing products to your costumers ezrghsdrfhgsrtfgh#}
{#            </span>#}
            <div class="grid grid-cols-1 gap-4 w-full">
                {% include "acticle_card.jinja" %}
                {% include "acticle_card.jinja" %}
                {% include "acticle_card.jinja" %}
            </div>
            <a class="btn btn-neutral">
                Lire tous les articles
                <i class="fa-solid fa-circle-arrow-right text-lg"></i>
            </a>
        </div>

    </div>


{% endblock %}